<configuration>

    <conversionRule conversionWord="fe2"
                    converterClass="de.alamos.fe2.server.utils.logging.LoggingAlarmDataConverter"/>

    <!-- Primary appender: stdout captured by ECS awslogs driver → CloudWatch -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{dd.MM.yyyy} - %d{HH:mm:ss.SSS} %-5level |%fe2| [%thread] %logger{0} - %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- TRACKING channel: tagged stdout so CloudWatch Insights can filter on |TRACKING| -->
    <appender name="STDOUT_TRACKING" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{dd.MM.yyyy} - %d{HH:mm:ss.SSS} %-5level |TRACKING| [%thread] %logger{0} - %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- TETRA channel: tagged stdout so CloudWatch Insights can filter on |TETRA| -->
    <appender name="STDOUT_TETRA" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{dd.MM.yyyy} - %d{HH:mm:ss.SSS} %-5level |TETRA| [%thread] %logger{0} - %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
    </appender>

    <!-- Suppress noisy third-party loggers -->
    <logger name="com.hierynomus" level="WARN"/>
    <logger name="uk.org.lidalia.sysoutslf4j.context.SysOutOverSLF4J" level="WARN"/>
    <logger name="org.eclipse.jetty" level="WARN"/>
    <logger name="org.mongodb.driver" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.mongodb.driver.cluster" level="WARN"/>
    <logger name="org.apache.http.impl" level="WARN"/>
    <logger name="org.apache.http.wire" level="WARN"/>
    <logger name="org.apache.http.headers" level="WARN"/>
    <logger name="org.apache.http.client" level="WARN"/>
    <logger name="net.sf.jasperreports" level="WARN"/>
    <logger name="org.apache.commons.digester" level="WARN"/>
    <logger name="org.apache.commons.beanutils" level="WARN"/>
    <logger name="org.apache.fontbox.util.autodetect.FontFileFinder" level="WARN"/>
    <logger name="org.apache.pdfbox.pdmodel.font.FileSystemFontProvider" level="WARN"/>
    <logger name="com.google.api.client.util.store.FileDataStoreFactory" level="ERROR"/>
    <logger name="net.fortuna.ical4j.model.TimeZoneUpdater" level="ERROR"/>
    <logger name="org.apache.pdfbox.io.ScratchFileBuffer" level="WARN"/>
    <logger name="com.google.firebase.database.connection" level="WARN"/>
    <logger name="uk.org.lidalia.sysoutslf4j.context.SysOutOverSLF4JInitialiser" level="WARN"/>
    <logger name="net.fortuna.ical4j" level="WARN"/>
    <logger name="net.fortuna.ical4j.data.CalendarParserImpl" level="WARN"/>
    <logger name="com.alamosgmbh.mavenIcalParsingLibrary" level="INFO"/>
    <logger name="org.apache.http.conn.ssl.SSLConnectionSocketFactory" level="WARN"/>
    <logger name="io.grpc.netty.shaded.io.grpc.netty.NettyClientHandler" level="WARN"/>
    <logger name="io.grpc.netty.shaded.io.netty.channel.DefaultChannelId" level="WARN"/>
    <logger name="io.grpc.netty.shaded.io.netty" level="WARN"/>
    <logger name="com.google.firebase.database.core.view.EventRaiser" level="WARN"/>
    <logger name="org.springframework.data.convert.CustomConversions" level="ERROR"/>
    <logger name="org.springframework.data.mongodb.core.index.MongoPersistentEntityIndexCreator" level="ERROR"/>
    <logger name="io.getunleash.event.UnleashSubscriber" level="ERROR"/>
    <logger name="io.micrometer.observation" level="ERROR"/>

    <!-- TRACKING: dedicated tagged stdout, no propagation to root -->
    <logger name="de.alamos.fe2.server.vehicleTracking" level="INFO" additivity="false">
        <appender-ref ref="STDOUT_TRACKING"/>
    </logger>

    <!-- Akka: dedicated tagged stdout via ASYNC, no propagation to root -->
    <logger name="akka." level="WARN" additivity="false">
        <appender-ref ref="ASYNC"/>
    </logger>

    <!-- TETRA: dedicated tagged stdout, no propagation to root -->
    <logger name="TETRA" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT_TETRA"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
